/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
 summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: disc;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */	
	html
	{
		background:transparent url(pic/web.jpg);
		background-attachment: fixed;
		background-position:center;
	}
	
	h1 strong
		{
			font-family:"Bodoni MT Black",Times,serif;
			font-size:3em;
			text-shadow:0 0 50px 30px rgba(255,0,0,.5);
		}
		
	h1,h2,h3
		{
			font-size:2em;
			font-family:Algerian,Times,serif;
			text-align:center;
			text-decoration:underline;
			padding:0;
			margin:10px;
			text-shadow:0 0 40px 20px rgba(255,0,0,.8);
		}		
	body
		{
			width:60%;
			margin:0 1% 20px 37%;
			padding:20px;			
			color:rgb(3,17,52);
			text-shadow:0 0 40px rgba(255,0,0,.8);
			border:2px solid red;
			
			
		}
	
		
		
	.sidebar
	{
		position:fixed;
		top:20px;
		left:4%;
		background:url(pic/KKR.png) no-repeat;
		background-position:bottom;
		background-clip:padding-box;
		background-size:contain;
		padding-bottom:15%;
		color:#c0c0c0;
		
	}
	
	.sidebar h2,h3
		{
			font-size:2em;
			font-family:Algerian,Times,serif;
			color:rgb(3,17,52);
			text-shadow:0 0 70px 10px rgba(0,250,154,.8);
		}
		
	.sidebar a
	{
		font-size:0.8em;
		font-family:Castellar,"Bodoni MT Black",Times,serif;
		font-weight:bold;
		color:#c0c0c0;
		text-decoration:none;

	}	
	
	a:link
	{
		color:#c0c0c0;
	}	
	
		a:visited
	{
		text-decoration:line-through;
	}
	
	a:hover
	{
		color:#808080;
		text-shadow:0 0 7px rgba(0,250,154,.8);
	}	
	p
	{
		color:#c0c0c0;
		font-family:Castellar,"Bodoni MT Black",Times,serif;
		font-size:0.7em;
		font-weight:bold;
		text-indent:1.2em;
		line-height:1.4em;
		margin:10px;
		padding:5px;
	

	}	

	p:first-letter
	{
		font-family:Algerian,Times,serif;
		font-size:1.7em;
		color:#c0c0c0;
		
	}	

	
.summary 
	{	
		
		color:white;
		font-family:arial narrow,Helvetica,sens-serif;
		font-size:0.6em;
		width:14%;
		height:18%;
		position:absolute;
		top:6%;
		left:38%;
		padding:0;
		
		
	}
	.summary a
	{
		font-size:0.8em;
		font-family:Castellar,"Bodoni MT Black",Times,serif;
		font-size:0.8em;
		font-weight:bold;
		color:#c0c0c0;
		text-decoration:none;
		padding:0;
	}	
		
	.summary p
	{
		padding:0;
		color:white;
		font-family:arial narrow,Helvetica,sens-serif;
		font-size:1.2em;
	}	
		.preamble
	{	width:500px;
		margin:10px 20px 10px 80%;
		box-shadow:0 0 7px 10px rgba(0,250,154,.2);
		border-radius:20px 20px 20px 0;
		background-color:rgba(0,191,255,.3);
		
		
	}
	
	.explanation
	{	margin:0 20px 10px 20px;	
		width:30%;
		box-shadow:0 0 7px 10px rgba(0,250,154,.2);
		border-radius:20px 20px 20px 0;
		background-color:rgba(0,191,255,.3);
		float:left;
		vertical-align:top;
	}	

	.participation
	{
		margin:0 10px 10px 40%;
		box-shadow:0 0 7px 10px rgba(0,250,154,.2);
		border-radius:20px 20px 20px 0;
		background-color:rgba(0,191,255,.3);
		padding:20px;
		
	}	
	
	
	.benefits
	{
		width:60%;
		margin-left:50px 10px 20px 30%;
		box-shadow:0 0 7px 10px rgba(0,250,154,.2);
		border-radius:20px 20px 20px 0;
		background-color:rgba(0,191,255,.3);
		margin:20px 0 20px 40%;
		
		
		
	}	

	.requirements
	{
		box-shadow:0 0 7px 10px rgba(0,250,154,.2);
		border-radius:20px 20px 20px 0;
		background-color:rgba(0,191,255,.3);
		
	}
		
		footer
		{
		box-shadow:0 0 7px 10px rgba(255,0,6,.3);
		border-radius:20px 20px 20px 0;
		background-color:rgba(0,191,255,.3);
		text-align:center;
		padding:20px;
		font-family:Algerian,Times,serif;
		font-size:1.6em;
		word-spacing:2em;
		color:red;
		margin-top:20px;
		}
		footer a{color:red !important;}
		
		header
		{
			margin:5xp 10px 0 40%;
		box-shadow:0 0 7px 10px rgba(0,250,154,.2);
		border-radius:20px 20px 20px 0;
		background-color:rgba(0,191,255,.3);
		}