    /*mobil version start*/

    @media (max-width:980px) {
        .wapper {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100%;
            font-size: 0.8em;
        }
        header {
            display: none;
        }
        #menubutton {
            display: block;
        }
        .main h1 {
            font-size: 1.8em;
            margin-top: 10vh;
        }
        .aboutme {
            width: 90%;
            margin: 15px;
            padding: 5px;
        }
        .slide {
            position: absolute;
            left: 4vw;
            width: 100vw;
            height: 100%;
        }
        .gallery1 img {
            width: 90vw;
        }
        .slide {
            width: 90%;
        }
        .gallery2 {
            display: block;
            position: relative;
            width: 80%;
            margin: 5% auto;
            overflow: hidden;
        }
        .gallery2 .slides2 {
            overflow: hidden;
            width: 100%;
            height: 42vh;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .gallery2 .slides2>li {
            width: 100%;
            height: 42vh;
            position: absolute;
            z-index: 1;
            overflow: hidden;
        }
        .gallery2 .slides2>li>img {
            width: 100%;
            height: 42vh;
        }
        .gallery2 .slides2>li:first-child:not(:target) {
            z-index: 1;
            -webkit-transform: translateY(0%);
            transform: translateY(0%);
        }
        .gallery2 .thumbnails {
            display: block;
            position: relative;
            padding: 0;
            margin: 0;
            list-style: none;
        }
        .gallery2 .thumbnails>li {
            float: left;
            width: 20%;
        }
        .gallery2 .thumbnails>li>a {
            display: block;
        }
        .gallery2 .thumbnails>li>a>img {
            width: 100%;
            height: auto;
        }
        #myFoto {
            width: 30%;
            margin: 5% 5%;
        }
        #menubutton {
            width: 10%;
            position: fixed;
            left: 10px;
            top: 10px;
            z-index: 100;
        }
        .text {
            text-indent: .9em;
            margin: 35px 25px;
        }
        .skills {
            width: 100%;
            height: 100%;
            margin: 5vh 0;
        }
        .skills img {
            width: 25%;
            margin: 15px 2%;
        }
        footer {
            width: 100vw;
            font-size: 1em;
        }
        .portfolio {
            font-size: 1.4em;
            height: 100%;
        }
        .portfolio img {
            width: 100vw;
        }
        .portfolio figure {
            margin: 0;
            width: 100vw;
            box-shadow: none;
        }
        .portfolio figcaption {
            position: absolute;
            opacity: 1;
            font-size: 0.8em;
        }
        .sidebar {
            display: none;
        }
        #contacts ul {
            position: relative;
            left: 10px;
            top: 10%;
            font-size: 1em;
        }
        /*mobMenu*/
       header {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
         }    

    header nav a {
        clear: both;
        margin: 2% 20%;
    }
